{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="post" action="{% url 'add_crousal' %}" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="col-12">
                <h5 class="form-title"><span>Add Crousal</span></h5>
              </div>
              {% include 'hod/messages.html'%}
              <div class="col-sm-11">
                <div class="form-group">
                  <label>Photo</label>
                  <input type="file" class="form-control" name="imageq"/>
                </div>
              </div>
              <div class="col-sm-11">
                <div class="form-group">
                  <label>Document</label>
                  <input type="file" class="form-control" name="document"/>
                </div>
              </div>
              <!-- <div class="col-sm-11">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" name="title"/>
                </div>
              </div> -->
                <br>
                <br>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">Update Profile</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}