{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="post" action="{% url 'update_main_banner'%}" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="col-12">
                <h5 class="form-title"><span>Update Banner</span></h5>
              </div>
              {% include 'hod/messages.html'%}
              <div class="col-sm-11">
                <div class="form-group">
                  <label>Photo</label>
                  <input type="file" class="form-control" name="feured_image" value="{% for i in show %}{{i.feured_image}}{% endfor %}"/>
                  <input type="text" class="form-control" name="show_id" value="{% for i in show %}{{i.id}}{% endfor %}" hidden/>
                </div>
              </div>
                <br>
                <br>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Update Profile</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}